<p>
	<span class="mock_label">Username</span>
	<%= text_control :username, :value => @twitter_account.username %>
</p>

<p>
	<span class="mock_label">Ignore Replies</span>
	<%= checkbox_control :ignore_replies, :value => @twitter_account.ignore_replies %>
</p>
