<h4>Twitter accounts</h4>
<p>Manage accounts that are aggregated into your blog.</p>
<ul>
	<li>
		<strong>Username</strong>
		<br />
		This is your username on Twitter, it'll be used to find your tweets to integrate with your blog.
	</li>
	<li>
		<strong>Ignore Replies</strong>
		<br />
		This will ignore tweets that are just replies, and will not show these within your blog.
	</li>
	<li>
		<strong>Last Scan</strong>
		<br />
		This is the date of the last scan done on that account.
	</li>
</ul>